<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19252450072-1fms9p5a0qb20rta9lq1pctuhbumfvq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19252450072-1fms9p5a0qb20rta9lq1pctuhbumfvq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCpRPBFsV2y62C4m1ymmCRa2VE-P2pNIqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>19252450072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SankrityaT.WagMeet</string>
	<key>PROJECT_ID</key>
	<string>wagmeet-98314</string>
	<key>STORAGE_BUCKET</key>
	<string>wagmeet-98314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19252450072:ios:0cc9d6d3261d2feaad046d</string>
</dict>
</plist>